openapi: 3.0.1
info:
  title: US-Extract-API
  description: |
    So you don't like playing 'Wheres Waldo' to find addresses in sentences? The SmartyStreets US-Extract RESTful API has your back. 
  termsOfService: 'https://www.smarty.com/legal/terms-of-service'
  license:
    url: 'https://www.smarty.com/legal/terms-of-service'
    name: Smarty License
  contact:
    url: 'https://www.smarty.com/contact/support'
    email: support@smarty.com
    name: Smarty Support
  version: '3.15'
servers:
  - url: 'https://us-extract.api.smarty.com'
externalDocs:
  description: Extensive documentation for the US Extract API
  url: https://www.smarty.com/docs/cloud/us-extract-api
paths:
  /:
    post:
      summary: Extract an Address from Data
      operationId: post-extract
      description: Search for a larger volume of data (up to 100 inputs or 16K per request)
      requestBody:
        description: Data should be encoded as a `JSON` array where each element in the array is a `JSON` object with field names identical to those in the provided examples.
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/200'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/200'
        '400':
          description: Bad Request (Malformed Payload)
        '401':
          description: Unauthorized
        '402':
          description: Payment Required
        '413':
          description: Request Entity Too Large
        '422':
          description: Unprocessable Entity
        '429':
          description: Too Many Requests
      parameters:
        - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/Host'
        - $ref: '#/components/parameters/html'
        - $ref: '#/components/parameters/aggressive'
        - $ref: '#/components/parameters/addr_line_breaks'
        - $ref: '#/components/parameters/addr_per_line'
        - $ref: '#/components/parameters/license'
        - $ref: '#/components/parameters/match'
security:
  - auth_id: []
    auth_token: []
  - website_key: []
tags:
  - name: us-extract
    description: Find an address in a sentence
components:
  parameters:
    Host:
      name: Host
      in: header
      required: true
      schema:
        type: string
      description: 'The Host request header field specifies the internet host and port number of the resource being requested. Ex: Host: us-extract.api.smarty.com'
    Content-Type:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
      description: 'The purpose of the Content-Type field is to describe the data contained in the body fully enough that the receiving user agent can pick an appropriate agent or mechanism to present the data to the user, or otherwise deal with the data in an appropriate manner. Ex: Content-Type: text/plain; charset=utf-8'
    html:
      name: html
      in: query
      required: false
      schema:
        type: boolean
      description: 'HTML input is automatically detected and stripped, but you can manually specify whether your input is formatted as HTML by setting this to true or false.'
    aggressive:
      name: aggressive
      in: query
      required: false
      schema:
        type: boolean
      description: 'Aggressive mode may use more lookups on your account, but it can find addresses in populous cities without needing a state and ZIP Code , as well as finding addresses in some messy inputs. Default: false'
    addr_line_breaks:
      name: addr_line_breaks
      in: query
      required: false
      schema:
        type: boolean
      description: 'This parameter specifies if addresses in your input will ever have line breaks. Default: true'
    addr_per_line:
      name: addr_per_line
      in: query
      required: false
      schema:
        type: string
      description: 'Limits the extractor to a certain number of addresses per input line. Generally, you will not need this parameter unless you are submitting structured data that you know will only have a certain number of addresses per line. Set to 0 (default) for no limit.'
    license:
      name: license
      in: query
      required: false
      schema:
        type: string
      description: 'Specifies the license or licenses (comma separated) to use for this lookup. Valid values cn be found in your Subscriptions Page. If multiple licenses are specified, they are considered to be in left to right order. As a default, this value is derived.'
    match:
      name: match
      in: query
      required: false
      schema:
        type: string
      description: 'The match output strategy to be employed for this lookup. See more here: https://www.smarty.com/docs/cloud/us-street-api#match. Default: strict'
  schemas:
    '200':
      title: Successful response
      type: object
      properties:
        meta:
          type: object
          properties:
            lines:
              type: integer
              example: 6
              description: total lines of input received
            unicode:
              type: boolean
              example: false
              description: Did the text have unicode characters or was it plain ASCII?
            address_count:
              type: integer
              example: 1
              description: Amount of addresses found in the input
            verified_count:
              type: integer
              example: 1
              description: Amount of valid addresses found
            bytes:
              type: integer
              example: 53
              description: Length of input in bytes
            character_count:
              type: integer
              example: 53
              description: Length of input in Characters
        addresses:
          type: array
          description: Array of addresses extracted from the input
          items:
            $ref: '#/components/schemas/Addresses'
    Addresses:
      title: Addresses
      type: object
      properties:
        text:
          type: string
          example: 5732 Lincoln Drive Minneapolis MN
          description: The actual input text
        verified:
          type: boolean
          example: true
          description: Was the address verified successfully
        line:
          type: integer
          description: The starting line of the text in the input
          example: 4
        start:
          type: integer
          description: The starting character index of the text
          example: 16
        end:
          type: integer
          description: The ending character index of the text
          example: 49
        api_output:
          type: array
          description: The actual response from the US Street API
          items:
            $ref: '#/components/schemas/APIOutput'
    APIOutput:
      title: APIOutput
      type: object
      properties:
        candidate_index:
          type: integer
          description: |-
            An input address can match multiple valid addresses. This ties the candidates to the input index. 
            (e.g., "1 Rosedale Street Baltimore Maryland" will return multiple candidates.)
        delivery_line_1:
          type: string
          description: |-
            Contains the first delivery line (usually the street address). This can include any of the following: 
            urbanization (Puerto Rico only)
            primary number
            street predirection
            street name
            street suffix
            street postdirection
            secondary designator
            secondary number
            extra secondary designator
            extra secondary number
            PMB designator
            PMB number
          maxLength: 50
        last_line:
          type: string
          description: 'City, state, and ZIP Code combined'
          maxLength: 50
        delivery_point_barcode:
          type: string
          description: '12-digit POSTNET™ barcode; consists of 5-digit ZIP Code, 4-digit add-on code, 2-digit delivery point, and 1-digit check digit.'
          maxLength: 12
        components:
          $ref: '#/components/schemas/ComponentsObject'
        metadata:
          $ref: '#/components/schemas/MetadataObject'
        analysis:
          $ref: '#/components/schemas/AnalysisObject'
    ComponentsObject:
      title: Components Object
      type: object
      description: Object representing the different components of a verified address
      properties:
        primary_number:
          type: string
          description: 'The house, PO Box, or building number'
          maxLength: 30
        street_name:
          type: string
          description: The name of the street
          maxLength: 64
        street_suffix:
          type: string
          description: 'Abbreviated value describing the street (St, Ave, Blvd, etc.)'
          maxLength: 16
        city_name:
          type: string
          description: 'The USPS-preferred city name for this particular address, or an acceptable alternate if provided by the user'
          maxLength: 64
        state_abbreviation:
          type: string
          description: The two-letter state abbreviation
          maxLength: 2
        zipcode:
          type: string
          description: The 5-digit ZIP Code
          maxLength: 5
        plus4_code:
          type: string
          description: The 4-digit add-on code (more specific than 5-digit ZIP)
          maxLength: 4
        delivery_point:
          type: string
          description: 'The last two digits of the house/box number, unless an "H" record is matched, in which case this is the secondary unit number representing the delivery point information to form the delivery point barcode (DPBC).'
          maxLength: 2
        delivery_point_check_digit:
          type: string
          description: 'Correction character, or check digit, for the 11-digit barcode'
          maxLength: 1
    MetadataObject:
      title: Metadata Object
      type: object
      properties:
        record_type:
          type: string
          maxLength: 1
          description: |-
            Indicates the type of record that was matched. Only given if a DPV match is made. 

            F — Firm; the finest level of match available for an address. 
            (e.g., Julie Julia 11300 Center Ave Gilroy CA 95020-9257)
            G — General Delivery; for mail to be held at local post offices. 
            (e.g., General Delivery Provo UT 84601)
            H — High-rise; address contains apartment or building sub-units. 
            (e.g., 1600 Pennsylvania Ave SE Washington DC 20003-3228)
            P — Post Office box 
            (e.g., PO Box 4735 Tulsa OK 74159-0735)
            R — Rural Route or Highway Contract; may have box number ranges. 
            (e.g., RR 2 Box 4560 Anasco PR 00610-9393)
            S — Street; address contains a valid primary number range. 
            (e.g., 16990 Monterey Rd Lake Elsinore CA 92530-7529)
            [blank] — No record type because address did not make a valid DPV match
        zip_type:
          type: string
          maxLength: 32
          description: |-
            Indicates the type of the ZIP Code for the address that was matched. Only given if a 5-digit match is made. 

            Unique — The ZIP Code consists of a single delivery point, pertaining to a US Postal Service customer (like a large business or government agency) that routes all of its own mail internally.
            Military — The ZIP Code pertains to military units and diplomatic organizations, often in foreign locations.
            POBox — The ZIP Code is a PO Box ZIP Code and is assigned to a collection of Post Office Boxes.
            Standard — The ZIP Code does not pertain to any of the above categories.
        county_fips:
          type: string
          maxLength: 5
          description: The 5-digit county FIPS (Federal Information Processing Standards) code. It is a combination of a 2-digit state FIPS code and a 3-digit county code assigned by the NIST (National Institute of Standards and Technology).
        county_name:
          type: string
          maxLength: 5
          description: The name of the county in which the address is located
        carrier_route:
          type: string
          maxLength: 4
          description: |-
            The postal carrier route for the address. Consists of a one-letter prefix followed by a three-digit route designator. 
            (e.g., C007, R123) 

            C — Carrier Route (commonly termed "City Route")
            R — Rural Route
            H — Highway Contract Route
            B — Post Office Box Section
            G — General Delivery Unit

            Routes C770 through C779 pertain to PO Box Street Addresses.
        congressional_district:
          type: string
          maxLength: 2
          description: 'The congressional district to which the address belongs. Output will be two digits from 01 - 53 or "AL." "AL" means that the entire state (or territory) is covered by a single congressional district. These include Alaska, Delaware, Montana, North Dakota, South Dakota, Vermont, Wyoming, Washington DC, Virgin Islands, and other territories.'
        rdi:
          type: string
          maxLength: 12
          description: |-
            Residential Delivery Indicator (residential or commercial) 

            Residential — The address is a residential address.
            Commercial — The address is a commercial address.
            [blank] — This happens when the address is invalid or we don't have enough information to ascertain RDI status. The Bulk Address Validation Tool translates a [blank] RDI value to "Unknown."

            Note: For some reason, known only to the US Postal Service, PO Boxes are always marked as "Residential."
        elot_sequence:
          type: string
          maxLength: 4
          description: eLOT (Enhanced Line of Travel) 4-digit sequence number
        elot_sort:
          type: string
          maxLength: 4
          description: |-
            eLOT (Enhanced Line of Travel) product was developed to give mailers the ability to sort their mailings by line of travel sequence. 

            A — Ascending
            D — Descending
            [blank] — Address not submitted for eLOT
        latitude:
          type: number
          description: 'The horizontal component used for geographic positioning. It is the angle between 0° (the equator) and ±90° (north or south) at the poles. It is the first value in an ordered pair of (latitude, longitude). A negative number denotes a location below the equator; a positive number is above the equator. Combining lat/long values enables you to pinpoint addresses on a map.'
        longitude:
          type: number
          description: 'The vertical component used for geographic positioning. It is the angle between 0° (the Prime Meridian) and ±180° (westward or eastward). It is the second number in an ordered pair of (latitude, longitude). A negative number indicates a location west of Greenwich, England; a positive number east. Combining lat/long values enables you to pinpoint addresses on a map.'
        precision:
          type: string
          maxLength: 18
          description: |-
            Indicates the precision of the latitude and longitude values.

            Unknown — Coordinates not known. Reasons could include: address is invalid, military address (APO or FPO), lat/lon coordinates not available.
              Zip5 — Accurate to a 5-digit ZIP Code level (least precise)
              Zip6 — Accurate to a 6-digit ZIP Code level
              Zip7 — Accurate to a 7-digit ZIP Code level
              Zip8 — Accurate to an 8-digit ZIP Code level
              Zip9 — Accurate to a 9-digit ZIP Code level (most precise with the basic subscription)
              Street — Accurate to a position along the street proportional to the house/building number.
              Parcel — Accurate to the centroid of a property parcel. Requires the US Rooftop Geocoding subscription.
              Rooftop — Accurate to the rooftop of a structure for this address. Requires the US Rooftop Geocoding subscription.
            
            Note: Concerning addresses for which the ZIP9 precision is not available, the ZIP# precision is interpolated based on neighboring addresses. Thus, ZIP7 is an average of all the lat/long coordinates of nearby ZIP Codes that share those first 7 digits.
        time_zone:
          type: string
          maxLength: 48
          description: |-
            Indicates the common name of the time zone associated with the address. 

            Valid Responses
            Alaska, Atlantic, Central, Eastern, Hawaii, Mountain, None, Pacific, Samoa, UTC+9, UTC+10, UTC+11, UTC+12
        utc_offset:
          type: number
          description: |-
            Indicates the number of hours the time zone is offset from Universal Time Coordinated (UTC), the international time standard, also known as Greenwich Meridian Time (GMT). 

            Valid Responses
            -11, -10, -9, -8, -7, -6, -5, -4, 0, 9, 10, 11, 12
        dst:
          type: string
          maxLength: 5
          description: |-
            Indicates if the time zone "obeys," or, in other words, adjusts their clocks forward and back with the seasons. This information is particularly useful to determine time in other time zones with areas that may or may not use daylight saving time - for example, Arizona, Hawaii, and, of all places, Indiana. 

            true — Time zone observes daylight saving time. 

            If dst is absent from the response, then time zone does not observe daylight saving time.
      description: Object representing the different metadata of a verified address
    AnalysisObject:
      title: Analysis Object
      type: object
      properties:
        dpv_match_code:
          type: string
          maxLength: 1
          description: |-
            Status of the Delivery Point Validation (DPV). This indicates whether or not the address is present in the USPS data.
            
            Y — Confirmed; entire address is present in the USPS data. (To be certain the address is actually deliverable, verify that the dpv_vacant field has a value of N. You may also want to verify that the dpv_no_stat field has a value of N. However, the USPS is often several months behind in updating this data point, so only rely on the dpv_no_stat data if you are fully aware of its weaknesses and limitations.)
            (e.g., 1600 Amphitheatre Pkwy Mountain View, CA)
            N — Not confirmed; address is not present in the USPS data.
            S — Confirmed by ignoring secondary info; the main address is present in the USPS data, but the submitted secondary information (apartment, suite, etc.) was not recognized.
            (e.g., 62 Ea Darden Dr Apt 298 Anniston, AL)
            D — Confirmed but missing secondary info; the main address is present in the USPS data, but it is missing secondary information (apartment, suite, etc.).
            (e.g., 122 Mast Rd Lee, NH)
            [blank or null] — The address is not present in the USPS database.
        dpv_footnotes:
          type: string
          maxLength: 32
          description: |-
            Information related to the delivery point validation of this address. All these footnotes have a length of 2 characters, and there may be up to 14 footnotes.
            
            AA — Street name, city, state, and ZIP are all valid.
            (e.g., 2335 S State St Ste 300 Provo UT)
            A1 — Address not present in USPS data.
            (e.g., 3214 N University Ave New York NY)
            BB — Entire address is valid.
            (e.g., 2335 S State St Ste 300 Provo UT)
            CC — The submitted secondary information (apartment, suite, etc.) was not recognized. Secondary number is NOT REQUIRED for delivery.
            (e.g., 3331 Erie Ave Apt 2 Cincinnati OH 45208)
            C1 — The submitted secondary information (apartment, suite, etc.) was not recognized. Secondary number IS REQUIRED for delivery.
            (e.g., 2335 S State St Ste 500 Provo UT)
            F1 — Military or diplomatic address
            (e.g., Unit 2050 Box 4190 APO AP 96278)
            G1 — General delivery address
            (e.g., General Delivery Provo UT 84601)
            M1 — Primary number (e.g., house number) is missing.
            (e.g., N University Ave Provo UT)
            M3 — Primary number (e.g., house number) is invalid.
            (e.g., 16 N University Ave Provo UT)
            N1 — Address is missing secondary information (apartment, suite, etc.) which IS REQUIRED for delivery..
            (e.g., 2335 S State St Provo UT)
            PB — PO Box street style address.
            (e.g., 555 S B B King Blvd Unit 1 Memphis TN 38103)
            P1 — PO, RR, or HC box number is missing.
            (e.g., Dept 126 Denver CO 802910126)
            P3 — PO, RR, or HC box number is invalid.
            (e.g., PO BOX 60780 FAIRBANKS AK 99706)
            RR — Confirmed address with private mailbox (PMB) info.
            (e.g., 3214 N University Ave #409 Provo UT)
            R1 — Confirmed address without private mailbox (PMB) info.
            (e.g., 3214 N University Ave Provo UT)
            R7 — Confirmed as a valid address that doesn't currently receive US Postal Service street delivery.
            (e.g., 6D Cruz Bay St John VI 00830)
            TA — Primary number was matched by dropping trailing alpha.
            (e.g., 4-C PENINSULA CTR RANCHO PALOS VERDES CA 90274)
            U1 — Address has a "unique" ZIP Code.
            (e.g., 100 North Happy Street 12345)
          
            Here are some common combinations:
              AABB - ZIP, state, city, street name, and primary number match.
              AABBCC - ZIP, state, city, street name, and primary number match, but secondary does not. A secondary is not required for delivery.
              AAC1 - ZIP, state, city, street name, and primary number match, but secondary does not. A secondary is required for delivery.
              AAM1 - ZIP, state, city, and street name match, but the primary number is missing.
              AAM3 - ZIP, state, city, and street name match, but the primary number is invalid.
              AAN1 - ZIP, state, city, street name, and primary number match, but there is secondary information such as apartment or suite that would be helpful.
              AABBR1 - ZIP, state, city, street name, and primary number match. Address confirmed without private mailbox (PMB) info.
        dpv_cmra:
          type: string
          maxLength: 1
          description: |-
            Indicates whether the address is associated with a Commercial Mail Receiving Agency (CMRA), also known as a private mailbox (PMB) operator. A CMRA is a business through which USPS mail may be sent or received, for example the UPS Store and Mailboxes Etc. 

            Y — Address is associated with a valid CMRA.
            N — Address is not associated with a valid CMRA.
            [blank] — Address was not submitted for CMRA verification.
        dpv_vacant:
          type: string
          maxLength: 1
          description: |-
            Indicates that a delivery point was active in the past but is currently vacant (in most cases, unoccupied over 90 days) and is not receiving deliveries. This status is often obtained when mail receptacles aren't being emptied and are filling up, so mail is held at the post office for a certain number of days before the delivery point is marked vacant. 

            Y — Address is vacant.
            N — Address is not vacant.
            [blank] — Address was not submitted for vacancy verification.
        active:
          type: string
          maxLength: 1
          description: 'The API still returns this field, but in practical terms, it is deprecated. This field will contain a value of Y for every address submitted.'
        footnotes:
          type: string
          maxLength: 12
          description: 'Indicates which changes were made to the input address. Footnotes are delimited by a # character. See the footnotes table below for details.'
      description: Object representing the different metadata of a verified address
  securitySchemes:
    auth_id:
      type: apiKey
      name: auth-id
      in: query
    auth_token:
      type: apiKey
      name: auth-token
      in: query
    website_key:
      type: apiKey
      name: key
      in: query
  responses: {}
